

<div class="container">
    <div class="row p-1">
        <div class="col-6 text-end">
        <div class="form-control-sm">
            <p id="checkCodeMsg"></p>
        </div>
            <div class="form-control-sm">
                <input class="form-control" type="text" name="code" id="code" placeholder="Enter code" />
            </div>
            <div class="form-control-sm">
			    <img id="loading" src="~/img/loading-gif.gif" class="loading">
                <input type="button" id="checkCode" value="CheckCode"/>
            </div> 
        </div>
    </div>
</div>

<script src="~/js/checkCode.js"></script>

