

<div class="container">
    <div class="row p-1">
        <div class="col-6 text-end">
            <img id="loading" src="~/img/loading-gif.gif" class="loadingUC">
            <input type="button" id="getCode" value="Get Code" class="displayNone"/>
            <p id="msg" class="displayNone">You have already received a code, click <a href="/Home/UserCode">here</a> to see your code</p>
        </div>
    </div> 
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/getCode.js"></script>

