
<div class="container">
    <div class="row p-1">
        <div class="col-6 text-center">
            <img id="loading" src="~/img/loading-gif.gif" class="loadingUC">
            <p id="userCode"></p> 
        </div>
    </div>
</div>

<script src="~/js/userCode.js"></script>
